* {
    main-bg:            #1C0725B3;
    main-fg:            #F0CCFFE6;
    main-br:            #9154A0E6;
    main-ex:            #4A1442E6;
    select-bg:          #F0EAAA80;
    select-fg:          #524E29E6;
}
